In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import urllib2
%matplotlib inline

In [12]:
import dateutil.parser
mta_url_1 = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_150606.txt"
mta_url_2 ="http://web.mta.info/developers/data/nyct/turnstile/turnstile_150613.txt"
mta_url_3 ="http://web.mta.info/developers/data/nyct/turnstile/turnstile_150620.txt"
mta_url_4 ="http://web.mta.info/developers/data/nyct/turnstile/turnstile_150627.txt"
mta_url_5 ="http://web.mta.info/developers/data/nyct/turnstile/turnstile_150704.txt"
mta_url_6 ="http://web.mta.info/developers/data/nyct/turnstile/turnstile_150711.txt"
mta_url_7 ="http://web.mta.info/developers/data/nyct/turnstile/turnstile_150718.txt"
mta_url_8 ="http://web.mta.info/developers/data/nyct/turnstile/turnstile_150725.txt"
mta_url_9 ="http://web.mta.info/developers/data/nyct/turnstile/turnstile_150801.txt"
mta_url_10 ="http://web.mta.info/developers/data/nyct/turnstile/turnstile_150808.txt"
mta_url_11 ="http://web.mta.info/developers/data/nyct/turnstile/turnstile_150815.txt"
mta_url_12 ="http://web.mta.info/developers/data/nyct/turnstile/turnstile_150822.txt"
mta_url_13 ="http://web.mta.info/developers/data/nyct/turnstile/turnstile_150829.txt"

data_1 = urllib2.urlopen(mta_url_1)
data_2 = urllib2.urlopen(mta_url_2)
data_3 = urllib2.urlopen(mta_url_3)
data_4 = urllib2.urlopen(mta_url_4)
data_5 = urllib2.urlopen(mta_url_5)
data_6 = urllib2.urlopen(mta_url_6)
data_7 = urllib2.urlopen(mta_url_7)
data_8 = urllib2.urlopen(mta_url_8)
data_9 = urllib2.urlopen(mta_url_9)
data_10 = urllib2.urlopen(mta_url_10)
data_11 = urllib2.urlopen(mta_url_11)
data_12 = urllib2.urlopen(mta_url_12)
data_13 = urllib2.urlopen(mta_url_13)


# new_data_1 = [x.strip() for x in data_1]
# new_data_2 = [x.strip() for x in data_2]
# new_data_3 = [x.strip() for x in data_3]
# new_data_4 = [x.strip() for x in data_4]
# new_data_5 = [x.strip() for x in data_5]
# new_data_6 = [x.strip() for x in data_6]
# new_data_7 = [x.strip() for x in data_7]
# new_data_8 = [x.strip() for x in data_8]
# new_data_9 = [x.strip() for x in data_9]
# new_data_10 = [x.strip() for x in data_10]
# new_data_11 = [x.strip() for x in data_11]
# new_data_12 = [x.strip() for x in data_12]
# new_data_13 = [x.strip() for x in data_13]

new_data_1 = [
    [x.strip() for x in data_1],
    [x.strip() for x in data_2],
    [x.strip() for x in data_3],
    [x.strip() for x in data_4],
    [x.strip() for x in data_5],
    [x.strip() for x in data_6],
    [x.strip() for x in data_7],
    [x.strip() for x in data_8],
    [x.strip() for x in data_9],
    [x.strip() for x in data_10],
    [x.strip() for x in data_11],
    [x.strip() for x in data_12],
    [x.strip() for x in data_13]
    ]

# data = new_data_1[1:] + new_data_2[1:] 

def add_things(list_of_data):
    data = []
    for i in list_of_data:
        data += i[1:]        
    return data

data = add_things(new_data_1)
 

## create list which contains list elemtents (value_list)
lists_of_list = []
def list_of_dictval(data):
  for item in data:
    rowlist = item.split(",")
    tuple_key = tuple(rowlist[:4])
    date_time = rowlist[-5] + " " + rowlist[-4]
    date_time = dateutil.parser.parse(date_time)
    entries = int(rowlist[-1])
    value_list = []
    value_list.append(tuple_key)
    value_list.append(date_time)
    value_list.append(entries)
    lists_of_list.append(value_list)



## append prior period cumulative entries to current list
def append_prior_cum_entries(lists_of_list):
  cnt = 0 
  for item in lists_of_list:
    if cnt == 0:
      lists_of_list[cnt].append(1)
    elif lists_of_list[cnt][0] == lists_of_list[cnt-1][0]:
      lists_of_list[cnt].append(lists_of_list[cnt-1][2])
    else:
      lists_of_list[cnt].append(1) 
    cnt = cnt + 1

## take difference between two cum entries to get count of entries
def append_count_entries(lists_of_list):
  cnt = 0
  for item in lists_of_list:
    if cnt == 0:
      lists_of_list[cnt].append(0)
    elif lists_of_list[cnt][0] == lists_of_list[cnt-1][0]:
      lists_of_list[cnt].append((lists_of_list[cnt][2] - lists_of_list[cnt][3]))
    else:
      lists_of_list[cnt].append(0) 
    cnt = cnt + 1

## create the dictionary with keys with empty list values
mta_ts_dict = {}
def insert_dict_keys(lists_of_list):
  for item in lists_of_list:
    key = item[0]
    mta_ts_dict[key] = []
  return mta_ts_dict

## populate the values for each key
def mta_time_series_dict(lists_of_list):
  cnt = 0
  for item in lists_of_list:
    key = lists_of_list[cnt][0]
    vlist = []
    vlist.append(item[1])
    vlist.append(item[-1])  
    if key in mta_ts_dict:
      mta_ts_dict[key].append(vlist)
    cnt = cnt + 1
  return mta_ts_dict

list_of_dictval(data)
append_prior_cum_entries(lists_of_list)
append_count_entries(lists_of_list)
insert_dict_keys(lists_of_list)

cum_exits = mta_time_series_dict(lists_of_list)

In [105]:
turnstile

tuple

In [72]:
key = '_'.join(turnstile[:3])
key

'A030_R083_01-06-00'

In [106]:
# make an empty list
list_of_turnstile_sets = []
# for each turnstile, do this to it and add it to your list
for turnstile, data in cum_exits.iteritems():
    turnstile_set = [{'key':key,'timetamp':timestamp,'count':count} for timestamp, count in data]
    list_of_turnstile_sets += turnstile_set

# then make the df from the big list
df = pd.DataFrame(list_of_turnstile_sets)
df2 = df[(df['count'] <= 2e4) & (df['count'] > 0 ) ]

The number that were "outliers"

In [116]:
len(df2) - len(df)

-927139

In [84]:
df2 = df[['key','timetamp','count']]
df2.head(10)

                  key            timetamp  count
0  A030_R083_01-06-00 2015-05-30 00:00:00      0
1  A030_R083_01-06-00 2015-05-30 04:00:00     22
2  A030_R083_01-06-00 2015-05-30 08:00:00     22
3  A030_R083_01-06-00 2015-05-30 12:00:00    148
4  A030_R083_01-06-00 2015-05-30 16:00:00    276
5  A030_R083_01-06-00 2015-05-30 20:00:00    250
6  A030_R083_01-06-00 2015-05-31 00:00:00    100
7  A030_R083_01-06-00 2015-05-31 04:00:00     16
8  A030_R083_01-06-00 2015-05-31 08:00:00     16
9  A030_R083_01-06-00 2015-05-31 12:00:00    114